In [23]:
# 해결문제 1

# - 리스트에 vip_names['jane', 'mina', 'Zoe']
vip_names = ['jane', 'mina', 'Zoe']
print(vip_names)

# - kepler님과 mike님이 vip 손님으로 추가가 되고 출력하시오.
vip_names.append('kepler')
vip_names.append('mike')
print(vip_names)

# - kepler님이 안온다고 연락이 와서 삭제하고 다시 출력하시오.
vip_names.remove('kepler')
print(vip_names)

# - Zoe님과 Aria님이 방이 어디에 있는지 출력하시오.
print(vip_names.index('Zoe'))
# print(vip_names.index('Aria'))

# 입력을 받아서 사람이 없으면 없다고 출력
name = input('어디에 있나요? ')
if vip_names.index(f'{name}') == 0:
    print('없습니다')
else:
    print(f'{name}은(는) {vip_names.index(name)+1}에 있습니다.')

['jane', 'mina', 'Zoe']
['jane', 'mina', 'Zoe', 'kepler', 'mike']
['jane', 'mina', 'Zoe', 'mike']
2
어디에 있나요? mina
mina은(는) 2에 있습니다.

In [27]:
old_list = [10, 20, 30, 40, 50]
new_list = old_list
new_list2 = old_list.copy()
print(old_list[0])
old_list[0]=100
print(new_list[0])
print(new_list2[0])

10
100
10

In [29]:
# 리스트 언패킹
member_list = ['Kevin', 24, 'Python']
name, age, lan = member_list
print(name)
print(age)
print(lan)

Kevin
24
Python

## 2) 튜플


* 튜플의 각 요소는 순서를 가지고 있음
* 괄호로 작성되며 각 요소는 쉼표로 구분
* 요소를 추가, 수정, 삭제 불가능
* 한번 결정된 요소는 변경 불가능
* 인덱싱과 슬라이싱은 리스트와 동일
* + 와 * 연산은 리스트와 동일
* 각 요소에 변수 할당 가능
    * 예) x, y = (10, 20)

In [31]:
# 인덱싱과 슬라이싱은 리스트와 동일
tp = (10, 20, 30)
print(tp[0])

# tp[0] = 20 # 수정 불가

10

TypeError: ignored

In [35]:
# + 와 * 연산은 리스트와 동일
tp1=(10, 20)
tp2=(30, 40)
tp3=tp1+tp2
print(tp3)
tp4=tp3*2
print(tp4)

(10, 20, 30, 40)
(10, 20, 30, 40, 10, 20, 30, 40)

In [37]:
# 각 요소에 변수 할당 가능
tpx, tpy=(10, 20)
print(tpx)
print(tpy)

10
20

## 3) 딕셔너리
* 특징
  * 키(key)와 값(value) 쌍을 요소로 가짐
  * 중괄호로 작성되며 각 요소는 쉼표로 구분
  * 순서 없음
  * 키는 변경할 수 없으며 값은 변경가능
* 딕셔너리 접근
  * 특정 요소 값 : 딕셔너리명[키]
  * 요소 키 컬렉션 : 딕셔너리명.keys()
  * 요소 값 컬렉션 : 딕셔너리명.values()
  * 키와 요소 컬렉션은 list() 생성자로 리스트로 변환가능
* 요소 추가
  * 딕셔너리명[추가키] = 값
* 요소 수정
  * 딕셔너리명[키] = 값
* 요소 삭제
  * del 딕셔너리명[키]
  * 딕셔너리명.pop[키]

In [38]:
# 딕셔너리
dt={'a':200, 'b':150, 'c':100}
print(dt)

{'a': 200, 'b': 150, 'c': 100}

In [39]:
# 딕셔너리 키
dt={'a':200, 'b':150, 'c':100}
print(list(dt.keys()))

['a', 'b', 'c']

In [40]:
# 딕셔너리 값
dt={'a':200, 'b':150, 'c':100}
print(list(dt.values()))

[200, 150, 100]

In [41]:
# 딕셔너리 접근
dt={'a':200, 'b':150, 'c':100}
print(dt['a'])
print(dt['b'])
print(dt['c'])

200
150
100

In [47]:
# 딕셔너리 추가
dt={'a':200, 'b':150, 'c':100}
dt['d']=300
print(dt)
dt['d']=250
print(dt)
dt.update({'e':400})
print(dt)

{'a': 200, 'b': 150, 'c': 100, 'd': 300}
{'a': 200, 'b': 150, 'c': 100, 'd': 250}
{'a': 200, 'b': 150, 'c': 100, 'd': 250, 'e': 400}

In [52]:
# 딕셔너리 삭제
dt={'a':200, 'b':150, 'c':100}
del dt['b']
print(dt)
dt.pop('a')
print(dt)

# 모두 지우기
dt.clear()
print(dt)

{'a': 200, 'c': 100}
{'c': 100}
{}

In [54]:
phone_book={'Dongseo':'111-1111', 'Jason':'222-2222', 'David':'333-3333'}
# Dongseo의 전화번호를 출력하시오
print(phone_book['Dongseo'])
# David의 전화번호를 555-5555로 변경하여 출력하시오
phone_book['David'] = '555-5555'
print(phone_book['David'])

print('David' in phone_book)

111-1111
555-5555
True

## 4) 집합
* 특징
  * 중복 없는 요소로만 구성
  * 중괄호로 작성되며 각 요소는 쉼표로 구분
  * 순서 없음
* 생성자 : set()
  * 리스트나 튜플의 중복 요소 제거
* 요소 추가
  * 집합명.add(요소) : 하나의 요소 추가
  * 집합명.update(추가집합) : 여러 요소를 추가
* 요소 삭제
  * 집합명.remove(요소값) : 하나의 요소 삭제
* 집합 연산
  * 교집합 &
  * 합집합 : |
  * 차집합 : -

In [58]:
# 집합 요소 추가
a = (1, 2, 2, 3) # 튜플
b = [10, 20, 30, 30] # 리스트
a = set(a)
b = set(b)
print(a)
print(b)

a.add(100)
b.update({100, 200, 300})
print(a)
print(b)

# 집합 요소 삭제
a.remove(100)
print(a)

b.clear()
print(b)

{1, 2, 3}
{10, 20, 30}
{1, 2, 3, 100}
{20, 100, 200, 10, 300, 30}
{1, 2, 3}
set()

In [61]:
# 집합 연산
a = (1, 2, 3, 10, 20)
b = (2, 10,20, 30)
a=set(a)
b=set(b)

print(f'교집합 a & b = {a & b}')
print(f'합집합 a | b = {a | b}')
print(f'차집합 a - b = {a - b}')
print(f'교집합 b - a = {b - a}')

교집합 a & b = {2, 10, 20}
합집합 a | b = {1, 2, 3, 10, 20, 30}
차집합 a - b = {1, 3}
교집합 b - a = {30}

In [62]:
# 해결 문제 1
# set으로 출입 명부 만들기
vip_names = ['Newton', 'kepler', 'Euler', 'Galileo']
room1_list = ['Newton']
room2_list = ['Euler', 'Galileo']

# 방에 있는 사람을 모두 출력하시오
print(set(room1_list) | set(room2_list))

# 오지 않은 사람을 출력하시오
print(set(vip_names) - (set(room1_list) | set(room2_list)))

{'Euler', 'Galileo', 'Newton'}
{'kepler'}